html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    color: black;
    background: rgb(248,248,255);
    background: linear-gradient(47deg, rgba(248,248,255,1) 0%, rgba(89,158,235,1) 70%, rgba(44,75,190,1) 100%);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: rgb(1, 1, 3);
        background: linear-gradient(47deg, rgba(1, 1, 3, 1) 0%, rgba(14, 32, 52, 1) 71%, rgba(27, 49, 112, 1) 100%);
    }
}
